Repository QuantumBlueSS14/Quantum-Blue, pull requests merged in 2025-09, with the labels that each got.

#14 fix some license stuff
  Resources/Audio/_QB/Lobby/attributions.yml
Labels: Changes: YML

#15 Remove service worker and prisoner as round start roles
  Resources/Prototypes/Nyanotrasen/Roles/Jobs/Wildcards/prisoner.yml
  Resources/Prototypes/Roles/Jobs/Civilian/service_worker.yml
Labels: size/XS

#16 Manual death gasp is back
  Resources/Prototypes/Voice/speech_emotes.yml
Labels: Changes: YML

#25 update comment tool
  .github/workflows/rsi-diff.yml
Labels: Changes: YML

#27 Temp time req removal
  Resources/IgnoredPrototypes/QBIgnoredPrototypes.yml
  Resources/Prototypes/_QB/Roles/playtest_requirement_overrides.yml
  Resources/Prototypes/_QB/whitelist_tiers.yml
Labels: size/L, Changes: YML

#31 Fixed many a missing png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/burqasolid.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/florallong1.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/florallong2.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/floralmid1.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/floralmid2.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/frenchbraid.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/gatheredlow.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/halfuplong.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/halfupshort.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/halfupundercut.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/hijabchic.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/hijabsimple.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/lowpigtails.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/messyponytail.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/midpartlong.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/midpartlonger.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/mullet.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/mulletsideshave.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/niqab.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/shaggy.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/shaggylonger.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/shaggymessy.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/sideshavecurly.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/spikyponytaillong.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/susie.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/susienobangs.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/tichelfashionable.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/tichelsimple.png
  Resources/Textures/_Impstation/Mobs/Customization/Humanoid/hair.rsi/undercutcurly.png
Labels: size/XS, Changes: Sprite

#32 some role reqs I missed
  Resources/Prototypes/_QB/Roles/playtest_requirement_overrides.yml
Labels: Changes: YML, size/XS

#33 feat: Port admin ghost tools from TheDen
  Resources/Prototypes/Entities/Mobs/Player/admin_ghost.yml
  Resources/Prototypes/InventoryTemplates/aghost_inventory_template.yml
  Resources/Prototypes/Roles/Jobs/Fun/misc_startinggear.yml
  Resources/Prototypes/_DEN/Entities/Objects/Misc/admin.yml
  Resources/Prototypes/_DEN/Entities/categories.yml
  Resources/Prototypes/_DV/Guidebook/command.yml
  Resources/Prototypes/_QB/Guidebook/rules.yml
Labels: size/M, Changes: YML

#35 Fix welding tool refueling by adding missing WeldingTool tags
  Resources/Prototypes/Entities/Objects/Tools/welders.yml
Labels: Changes: YML, size/XS

#37 Port PaintedComponent and enhanced spray painting system from upstream
  Content.Client/Atmos/EntitySystems/GasCanisterAppearanceSystem.cs
  Content.Client/Doors/DoorSystem.cs
  Content.Client/SprayPainter/SprayPainterSystem.cs
  Content.Client/SprayPainter/UI/SprayPainterBoundUserInterface.cs
  Content.Client/SprayPainter/UI/SprayPainterDecals.xaml
  Content.Client/SprayPainter/UI/SprayPainterDecals.xaml.cs
  Content.Client/SprayPainter/UI/SprayPainterGroup.xaml
  Content.Client/SprayPainter/UI/SprayPainterGroup.xaml.cs
  Content.Client/SprayPainter/UI/SprayPainterWindow.xaml
  Content.Client/SprayPainter/UI/SprayPainterWindow.xaml.cs
  Content.Client/Storage/Visualizers/EntityStorageVisualizerSystem.cs
  Content.Server/SprayPainter/SprayPainterSystem.cs
  Content.Shared/Doors/Components/DoorComponent.cs
  Content.Shared/SprayPainter/Components/PaintableAirlockComponent.cs
  Content.Shared/SprayPainter/Components/PaintableComponent.cs
  Content.Shared/SprayPainter/Components/PaintedComponent.cs
  Content.Shared/SprayPainter/Components/SprayPainterAmmo.cs
  Content.Shared/SprayPainter/Components/SprayPainterComponent.cs
  Content.Shared/SprayPainter/Prototypes/AirlockDepartmentsPrototype.cs
  Content.Shared/SprayPainter/Prototypes/AirlockGroupPrototype.cs
  Content.Shared/SprayPainter/Prototypes/PaintableGroupCategoryPrototype.cs
  Content.Shared/SprayPainter/Prototypes/PaintableGroupPrototype.cs
  Content.Shared/SprayPainter/SharedSprayPainterSystem.cs
  Content.Shared/SprayPainter/SprayPainterAmmoSystem.cs
  Content.Shared/SprayPainter/SprayPainterEvents.cs
  Resources/Locale/en-US/engineer-painter/engineer-painter.ftl
  Resources/Locale/en-US/spray-painter/spray-painter.ftl
  Resources/Prototypes/Catalog/VendingMachines/Inventories/youtool.yml
  Resources/Prototypes/Entities/Clothing/Belt/belts.yml
  Resources/Prototypes/Entities/Objects/Tools/spray_painter.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/base_structureairlocks.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/clockwork.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/external.yml
  Resources/Prototypes/Entities/Structures/Doors/Airlocks/shuttle.yml
  Resources/Prototypes/Entities/Structures/Doors/airlock_groups.yml
  Resources/Prototypes/Entities/Structures/Storage/Canisters/gas_canisters.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/base_structurelockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/Lockers/lockers.yml
  Resources/Prototypes/Entities/Structures/Storage/Closets/base_structureclosets.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/base_structurecrates.yml
  Resources/Prototypes/Entities/Structures/Storage/Crates/crates.yml
  Resources/Prototypes/Paintables/airlock_groups.yml
  Resources/Prototypes/Paintables/canister_groups.yml
  Resources/Prototypes/Paintables/categories.yml
  Resources/Prototypes/Paintables/crate_groups.yml
  Resources/Prototypes/Paintables/locker_groups.yml
  Resources/Prototypes/Recipes/Lathes/Packs/engineering.yml
  Resources/Prototypes/Recipes/Lathes/tools.yml
  Resources/Prototypes/_DV/Entities/Structures/Doors/Airlocks/airlocks.yml
  Resources/Textures/Objects/Tools/spray_painter.rsi/ammo-inhand-left.png
  Resources/Textures/Objects/Tools/spray_painter.rsi/ammo-inhand-right.png
  Resources/Textures/Objects/Tools/spray_painter.rsi/ammo.png
  Resources/Textures/Objects/Tools/spray_painter.rsi/meta.json
Labels: Changes: YML, Changes: Localization, Changes: C#, Changes: Sprite, Changes: UI

#39 Deleted outdated DV paint file
  Resources/Prototypes/_DV/Entities/Structures/Doors/airlock_groups.yml
Labels: Changes: YML

#38 Add ColoredComponent system for simple entity coloring
  Content.Client/Colored/ColoredVisualizerSystem.cs
  Content.Server/Colored/ColoredSystem.cs
  Content.Shared/Colored/ColoredComponent.cs
  Content.Shared/Colored/SharedColoredSystem.cs
  Resources/Locale/en-US/colored/colored.ftl
  Resources/Prototypes/Entities/Colored/test_colored.yml
Labels: Changes: YML, Changes: Localization, Changes: C#

#41 Fix RSI PNG references for RobustToolbox v267 compatibility
  Resources/Prototypes/Actions/anomaly.yml
  Resources/Prototypes/Alerts/revenant.yml
  Resources/Prototypes/Tiles/planet.yml
  Resources/Prototypes/_DV/Entities/Actions/cancel-escape-inventory.yml
  Resources/Prototypes/_DV/Reagents/Materials/materials.yml
  Resources/Prototypes/_DV/Voice/speech_emotes.yml
Labels: Changes: YML

#44 Cherry-pick AI abilities fixes and improvements
  Content.Client/Actions/ActionsSystem.cs
  Content.Shared/Actions/Components/TargetActionComponent.cs
  Content.Shared/Actions/SharedActionsSystem.cs
  Content.Shared/Interaction/SharedInteractionSystem.cs
  Resources/Prototypes/Magic/teleport_spells.yml
  Resources/Prototypes/_DV/Catalog/ai_catalog.yml
Labels: size/M, Changes: YML, Changes: C#
