Repository QuantumBlueSS14/Quantum-Blue, pull requests merged in 2025-10, with the labels that each got.

#55 Slime punches deal caustic
  Resources/Prototypes/Entities/Mobs/Species/slime.yml
Labels: Changes: YML, size/XS

#56 Add game.pauseonstart CVar
  Content.Server/GameTicking/GameTicker.CVars.cs
  Content.Server/GameTicking/GameTicker.cs
  Content.Shared/CCVar/CCVars.Game.cs
Labels: Changes: C#

#58 Temporarily removed time required from ghostroles
  Resources/Prototypes/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/Entities/Mobs/Player/ShuttleRoles/settings.yml
  Resources/Prototypes/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/Entities/Mobs/Player/skeleton.yml
  Resources/Prototypes/Nyanotrasen/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/_DV/Entities/Markers/Spawners/ghost_roles.yml
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/familiars.yml
  Resources/Prototypes/_DV/Entities/Mobs/NPCs/pets.yml
  Resources/Prototypes/_DV/Entities/Mobs/Player/humanoid.yml
  Resources/Prototypes/_DV/Entities/Objects/Devices/Syndicate_Gadgets/reinforcement_teleporter.yml
  Resources/Prototypes/_DV/Roles/Antags/fugitive.yml
  Resources/Prototypes/_DV/Roles/Antags/listening_post.yml
Labels: size/L, Changes: YML
